body {
    background-color: #eee;
    padding: 20px;
    margin: 0;
  }
  
.Login {
  background-color: #fff;
  width: 400px;
  padding: 0;
  margin: 0;
  position: relative;
  margin: 0 auto;
  top: 20px;
  padding: 20px;
}

.logotipo {
  max-width: 150px;
  position: relative;
  margin: 0 auto;
  display: block;
  margin-top: 150px;
}


.Login input {
  width: 100%;
  height: 45px;
  margin-bottom: 20px;  
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border: 1px solid #ccc;
  text-indent: 10px;
  outline: none;
}

.Login button {
  background: #72bf44;
  width: 100%;
  height: 40px;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border: 0px solid #72bf44;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.body-search {
  width: 900px;
  background: #ffffff;
  position: relative;
  margin: 0 auto;
  padding: 30px;
}

.body-search h1{
  font-family: sans-serif;
  font-size: 20px;
  color: #525252;
  border-bottom: 1px solid #ccc;
  padding-bottom: 40px;
  margin-bottom: 50px;
}

.body-search label {
  float: left;
  font-family: sans-serif;
  font-size: 14px;
  color: #525252;
  width: 5%;
  height: 45px;
  line-height: 45px;
}

.body-search input {
  height: 40px;
  width: 78%;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border: 1px solid #ccc;
  text-indent: 10px;
  outline: none;
}

.body-search button {
  float: right;
  width: 15%;
  height: 45px;
  background-color: #72bf44;
  border: none;
  color: #ffffff;
  font-size: 18px;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.hide {
  display: none;
}

.address-content {
  width: 900px;
  background: #ffffff;
  position: relative;
  margin: 0 auto;
  padding: 30px;
  font-family: sans-serif;
}

.address-content .closeContainer {
  float: right;
  width: 20px;
  cursor: pointer;
}

.address-content .rua {
  font-size: 18px;
  font-weight: bold;
}
.address-content .bairro, .address-content .cidade, .address-content .cep {
  font-size: 14px;
  line-height: 20px;
} 

.address-content iframe{
  border: 1px solid #ccc;
}